body#main {
    background-color: #DC3545;
    color: white;
    font-family: Rajdhani;
    font-size: 20px;
  }

div#navmain {
  background-color: #DC3545;
  color: white;
  font-family: Rajdhani;
  font-size: 20px;
}

 /* unvisited link */
 a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
} 



div.form-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  background-size: cover;
  
}

div.flex-item-left-form {
  padding: 25px;
  margin: 100px;
  border: 3px solid white;
  width:350px;
  flex-shrink: 0;
}

div.flex-item-right-form {
  width: 300px;
  flex-shrink: 0;
  
}